In [54]:
import pandas as pd
from matplotlib import pyplot as plt
import matplotlib as mpl

In [55]:
# Load the Anime CSV into a dataframe
df = pd.read_csv('https://raw.githubusercontent.com/BCMichaelBC/Anime_Dataset/main/anime_with_synopsis.csv')

In [56]:
df

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...
...,...,...,...,...,...
16209,48481,Daomu Biji Zhi Qinling Shen Shu,Unknown,"Adventure, Mystery, Supernatural",No synopsis information has been added to this...
16210,48483,Mieruko-chan,Unknown,"Comedy, Horror, Supernatural",ko is a typical high school student whose life...
16211,48488,Higurashi no Naku Koro ni Sotsu,Unknown,"Mystery, Dementia, Horror, Psychological, Supe...",Sequel to Higurashi no Naku Koro ni Gou .
16212,48491,Yama no Susume: Next Summit,Unknown,"Adventure, Slice of Life, Comedy",New Yama no Susume anime.
16213,48492,Scarlet Nexus,Unknown,"Action, Fantasy",Solar calendar year 2020: grotesque organisms ...

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16214 entries, 0 to 16213
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MAL_ID     16214 non-null  int64
 1   Name       16214 non-null  object
 2   Score      16214 non-null  object
 3   Genres     16214 non-null  object
 4   sypnopsis  16206 non-null  object
dtypes: int64(1), object(4)
memory usage: 633.5+ KB

In [58]:
df[df['sypnopsis'].isna()]

,MAL_ID,Name,Score,Genres,sypnopsis
11451,34755,Kuma no Gakkou: Patissier Jackie to Ohisama no...,Unknown,"Comedy, Kids",NaN
11469,34794,Yukai na Animal Bus,Unknown,"Comedy, Kids",NaN
13686,38475,Yuru Camp△ Movie,Unknown,"Comedy, Slice of Life",NaN
15025,40714,Youkai Watch Jam: Youkai Gakuen Y - N to no So...,6.28,"Comedy, Demons, Kids, Supernatural, School",NaN
15747,42717,Kaeru no Pickles: Kimochi no Iro,Unknown,"Slice of Life, Kids",NaN
16056,44848,Iii Icecrin,Unknown,Kids,NaN
16110,45731,Argonavis from BanG Dream! Movie,Unknown,Music,NaN
16120,46095,Vivy: Fluorite Eye's Song,Unknown,Sci-Fi,NaN

In [59]:
df.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16206 entries, 0 to 16213
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MAL_ID     16206 non-null  int64
 1   Name       16206 non-null  object
 2   Score      16206 non-null  object
 3   Genres     16206 non-null  object
 4   sypnopsis  16206 non-null  object
dtypes: int64(1), object(4)
memory usage: 759.7+ KB

Since there are some NaN and since there are only 8 missing ill just drop those.

In [60]:
df = df.dropna()

In [61]:
df.sypnopsis.value_counts()

No synopsis information has been added to this title. Help improve our database by adding a synopsis here .                                                                                                                                                                                                                                                                                                                                                                                                                                                   709
No synopsis has been added for this series yet. Click here to update this information.                                                                                                                                                                                                                                                                                                                                                                                                                                                                         35
Furukawa Taku film.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            13
Film by Takashi Ito.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           13
short animation by Taku Furukawa.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              10
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...
Hyper is a white dolphin who came from the future. In future, the earth has been highly polluted therefore Hyper is trying to change the history by going back to the 21 century and fight against his enemy, an octopus called "Octopus".                                                                                                                                                                                                                                                                                                                      1
Chi Dor Dor is a squirrel boy, and another Chi Dor Dor, is a rabbit detective who always follows Chi Dor Dor to ensure him doing everything right. This series is used to spread the idea of anti-corruption to the kids.                                                                                                                                                                                                                                                                                                                                       1
The original is an impressive sports manga featuring not heroes, but common boys, and the story depicts the growth of Sumiya 2 junior high school baseball team (the successive captains and players) in downtown Tokyo. Takao Taniguchi, who was a substitute player of the second team of Aoba Gakuin, a prestigious junior high school in the baseball world, but he transferred to Sumiya 2 and he became the captain of the baseball club. After steady training, the team try to do a final game in the regional preliminaries, against Aoba Gakuin.      1
fter an accident, the amnesiac Sue was taken in to live with Torao's family. She always had the urge to become a singer, but didn't know why. As it turns out, Sue is actually part of a band formed with her two twin sisters. But Sue's climb to the top of the charts is a long and hard way. (Source: AniDB)                                                                                                                                                                                                                                                1
Solar calendar year 2020: grotesque organisms called Others have begun eating people. To take down this new enemy, the Other Suppression Force is formed. Saved by this elite team as a child, psychokinetic Yuito withstands the training to enlist. On the other hand, prodigy Kasane was scouted for her abilities. But Kasane's dreams tell her strange things, dragging the two into an unavoidable fate. (Source: Official Site)                                                                                                                          1
Name: sypnopsis, Length: 15221, dtype: int64

In [62]:
df = df[df.sypnopsis != "No synopsis information has been added to this title. Help improve our database by adding a synopsis here ."]

In [63]:
df = df[df.sypnopsis != "No synopsis has been added for this series yet. Click here to update this information."]

In [64]:
df = df[df.Genres != "Unknown"]

In [65]:
df

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...
...,...,...,...,...,...
16207,48471,Tsuki to Laika to Nosferatu,Unknown,"Sci-Fi, Space, Vampire",The first astronaut in human history was a vam...
16210,48483,Mieruko-chan,Unknown,"Comedy, Horror, Supernatural",ko is a typical high school student whose life...
16211,48488,Higurashi no Naku Koro ni Sotsu,Unknown,"Mystery, Dementia, Horror, Psychological, Supe...",Sequel to Higurashi no Naku Koro ni Gou .
16212,48491,Yama no Susume: Next Summit,Unknown,"Adventure, Slice of Life, Comedy",New Yama no Susume anime.
16213,48492,Scarlet Nexus,Unknown,"Action, Fantasy",Solar calendar year 2020: grotesque organisms ...

In [66]:
df.sypnopsis.value_counts()

Film by Takashi Ito.                                                                                                                                                                                                                                                                                                                                                                                                                      13
Furukawa Taku film.                                                                                                                                                                                                                                                                                                                                                                                                                       13
short animation by Taku Furukawa.                                                                                                                                                                                                                                                                                                                                                                                                          9
short film by Okamoto Tadanari.                                                                                                                                                                                                                                                                                                                                                                                                            8
Short animation by Rapparu.                                                                                                                                                                                                                                                                                                                                                                                                                8
                                                                                                                                                                                                                                                                                                                                                                                                                                          ..
Schoolgirl Mami Sakura discovers that she has superpowers. She can sense other people in trouble and teleport to help them, but she keeps her secret double-life hidden from her parents with the help of her schoolfriend, Kazuo Takahata. In this short film, Mami uses her powers to make a puppet show for deprived children. (Source: Anime Encyclopedia)                                                                             1
scientist invents 5 special solar powered cars that can be joined into one supercar. The cars are given to the scientists son and his friends to compete in the racing circuit, but they are pursued by an evil organization that wants the secret of solar power. (Source: AniDB)                                                                                                                                                         1
he Osomatsu boys—sextuplets who look, speak, dress and talk like the same. They only add to the hyper eccentric residents of the town who easily break any boundaries defined by common sense. Check your logical thinking and reason at the door and immerse yourself in everyday lives of unique characters who are wild both in appearance and temperament! (Source: Studio Pierrot)                                                    1
acky comedy about identical sextuplets causing wild pranks. Each episode features 2 stories. (Source: AniDB)                                                                                                                                                                                                                                                                                                                               1
Solar calendar year 2020: grotesque organisms called Others have begun eating people. To take down this new enemy, the Other Suppression Force is formed. Saved by this elite team as a child, psychokinetic Yuito withstands the training to enlist. On the other hand, prodigy Kasane was scouted for her abilities. But Kasane's dreams tell her strange things, dragging the two into an unavoidable fate. (Source: Official Site)     1
Name: sypnopsis, Length: 15190, dtype: int64

In [67]:
from sklearn.preprocessing import OneHotEncoder

cat_encoder = OneHotEncoder()
setGenres = df[["Genres"]]

genres_1hot = cat_encoder.fit_transform(setGenres)

genres_1hot.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [68]:
cat_encoder.categories_

[array(['Action', 'Action, Adventure', 'Action, Adventure, Cars', ...,
        'Thriller, Sci-Fi', 'Vampire', 'Yaoi'], dtype=object)]

Ive dropped alot of things to help modfiy the dataset so we could get good data for the bag of words. the things i have dropped or found in the program. 
I have dropped unknown genres, dropped anime's with no sypnopsis provided and also dropped sypnopsis with Nan values. I beleieve the dataset is clean and ready for train test split.